<article class="card d-flex flex-column flex-grow-1">
    <div>
        <img class="img-fluid" src={{PosterPath}} alt="Image poster">
    </div>
    <div class="card-body d-flex flex-column flex-grow-1">
        <div class="d-flex flex-column flex-grow-1">
            <h2 class="h5 mb-4">
                {{data.title}}
            </h2>
            <p class="card-text">
                {{data.overview}}
            </p>
        </div>
        <a class="btn btn-primary w-100 mt-4" href={{Path}}>
            Read more
        </a>
    </div>
</article>