@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

.header {
    z-index: 1000;

    &__nav-link {
        color: #fff;
        text-decoration: none;
        transition: color 0.4s;

        &.active {
            text-decoration: underline;
        }

        @include media-breakpoint-up(lg) {
            &:hover {
                color: $danger;
            }
        }
    }
}

app-search {
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 350px;
    }
}