<div *ngIf="movie !== null" class="container card-view">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card-view__image">
                <img src={{PosterPath}} [alt]="'Poster of ' + movie.title" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row gap-4">
                <div class="d-flex flex-column flex-sm-row align-items-center mb-2 gap-2 gap-sm-4">
                    <time class="d-block" [attr.datetime]="getDateToIso(movie.release_date)">
                        <fa-icon icon="calendar" class="me-2"></fa-icon>
                        {{movie.release_date}}
                    </time>
                    <button class="btn btn-sm" [ngClass]="isFavorite ? 'btn-danger' : 'btn-success'" (click)='toggleFavorite()'>
                        <div *ngIf="!isFavorite; else removeFavorite;">
                            <fa-icon [icon]="starIcon" class="me-2"></fa-icon>
                            Add to favorite
                        </div>
                       <ng-template #removeFavorite>
                            <fa-icon [icon]="banIcon" class="me-2"></fa-icon>
                            Remove from favorite
                       </ng-template>
                    </button>
                </div>
                <h1 class="h2 fw-bold">
                    {{movie.title}}
                </h1>
                <div>
                    <app-rating [rating]="movie.vote_average"></app-rating>
                    <p class="lh-base fs-5">
                        {{movie.overview}}
                    </p>
                    <table *ngIf="DetailsList.length" class="table table-light table-striped card-view__details mt-4">
                        <tbody>
                            <tr *ngFor="let item of DetailsList">
                                <th class="card-view__details-field">
                                    <fa-icon [icon]="item.icon" class="card-view__details-icon"></fa-icon>
                                    {{item.field}}
                                </th>
                                <td class="card-view__details-value">
                                    {{item.value}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="alertMessage" class="container">
    <ngb-alert type="info" [dismissible]="false">
        {{alertMessage}}
    </ngb-alert>
</div>

<app-loader *ngIf="loading"></app-loader>

<div *ngIf="!loading && !alertMessage" class="text-center py-2">
    <button class="btn btn-secondary" (click)="goBack()">
        Back to list
    </button>
</div>