<section class="container">
    <h1 class="h2 mb-4">
        {{title}}
    </h1>

    <app-filters></app-filters>

    <ngb-alert *ngIf="error$ | async; else movies" type="info" [dismissible]="false">
        Failed to fetch the movies!
    </ngb-alert>

    <ng-template #movies>
        <div class="row" *ngIf="movies$ | async as movies">
            <app-card class="col-6 col-sm-6 col-md-4 col-lg-3 pb-4 d-flex" *ngFor="let movie of movies" [data]="movie">
            </app-card>

            <div class="col" *ngIf="!movies.length && !(loading$ | async)">
                <ngb-alert type="info" [dismissible]="false">
                    No movies match your criteria!
                </ngb-alert>
            </div>
        </div>
    </ng-template>


    <div *ngIf="displayFetchButton$ | async" class="text-center py-2">
        <button class="btn btn-secondary" (click)="fetchMovies()">
            Load more
        </button>
    </div>

    <app-loader *ngIf="loading$ | async"></app-loader>
</section>