<section class="container">
    <h1 class="h2 mb-4">
        {{title}}
    </h1>

    <div *ngIf="alertMessage">
        <ngb-alert type="info" [dismissible]="false">
            {{alertMessage}}
        </ngb-alert>
    </div>

    <form class="my-4" [formGroup]="filtersForm">
        <div class="row">
            <div class="col-sm-6 mb-3" *ngIf="(genres$ | async)?.length">
                <label for="genre" class="form-label d-block fw-bold">Genre</label>
                <select class="form-select" name="genre" id="genre" formControlName="genre">
                    <option value="" selected>All</option>
                    <option *ngFor="let genre of genres$ | async" value={{genre.id}}>
                        {{genre.name}}
                    </option>
                </select>
            </div>
            <div class="col-sm-6 mb-3">
                <label for="year" class="form-label d-block fw-bold">Year</label>
                <select class="form-select" name="year" id="year" formControlName="year">
                    <option value="" selected>All</option>
                    <option *ngFor="let year of generateYears()" value={{year}}>
                        {{year}}
                    </option>
                </select>
            </div>
        </div>
    </form>

    <div class="row" *ngIf="movies.length">
        <app-card class="col-6 col-sm-6 col-md-4 col-lg-3 pb-4 d-flex" *ngFor="let movie of movies" [data]="movie"></app-card>
    </div>

    <div *ngIf="!loading && !alertMessage && page < maxPage" class="text-center py-2">
        <button class="btn btn-secondary" (click)="fetchMovies(page)">
            Load more
        </button>
    </div>

    <app-loader *ngIf="loading"></app-loader>
</section>